/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin-left: 2%;
  margin-right: 2%; 
  background-color:#020202;
}

#map {
  height: 90%;
  margin-top: 10px;
}

.input-box{
  margin: 20px -15px -5px -15px;
}