/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin-left: 2%;
  margin-right: 2%;
  padding: 0;
  background-color:#e6cc80;
}

#map {
  height: 100%;
  margin-top: 10px;
}